<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="masstransit.routing" type="System.Configuration.ConfigurationSectionGroup, System.Configuration">
      <section name="myMessageRoutings" type="MassTransit.Integration.Routing.Configuration.MessageRoutingSettings, MassTransit.Integration.Routing.Configuration"/>
      <section name="otherMessageRoutings" type="MassTransit.Integration.Routing.Configuration.MessageRoutingSettings, MassTransit.Integration.Routing.Configuration"/>
    </sectionGroup>
  </configSections>
  <masstransit.routing xmlns="urn:MassTransit.Integration.Routing.Configuration">
    <myMessageRoutings configSource="myMessageRoutings.config" />
    <otherMessageRoutings>
      <routes>
        <routeTo uri="msmq://other_remote_server/other_queue">
          <messageType type="OtherMessages.MessageA, OtherMessages"/>
        </routeTo>
      </routes>
    </otherMessageRoutings>
  </masstransit.routing>
</configuration>