<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="masstransit.routing" type="System.Configuration.ConfigurationSectionGroup, System.Configuration">
      <section name="myMessageRoutings" type="MassTransit.Integration.Routing.Configuration.MessageRoutingSettings, MassTransit.Integration.Routing.Configuration"/>
    </sectionGroup>
  </configSections>
  <masstransit.routing xmlns="urn:MassTransit.Integration.Routing.Configuration">
    <myMessageRoutings>
      <routes>
        <routeTo uri="msmq://remote_server/my_queue">
          <messageType type="MassTransit.Integration.Routing.Configuration.Tests.Messages.CustomerCreated, MassTransit.Integration.Routing.Configuration.Tests"/>
          <messageType type="MassTransit.Integration.Routing.Configuration.Tests.Messages.CustomerNameChanged, MassTransit.Integration.Routing.Configuration.Tests"/>
          <messageType type="MassTransit.Integration.Routing.Configuration.Tests.Messages.AddressStreetChanged, MassTransit.Integration.Routing.Configuration.Tests"/>
        </routeTo>
        <routeTo uri="msmq://remote_server/my_second_queue">
          <messageType type="MassTransit.Integration.Routing.Configuration.Tests.Messages.CustomerCreated, MassTransit.Integration.Routing.Configuration.Tests"/>
        </routeTo>
      </routes>
    </myMessageRoutings>
  </masstransit.routing>
</configuration>